<template>
    <div>
        <div class="col-12 text-center">
        <button class="btn btn-vue btn-lg col-4" type="submit" >Submit</button>
        </div>
    </div>
</template>

<script>
export default {
    name:"Button",
    data(){
    }
}
</script>