<template>
    <div>
        <b-dropdown id="dropdown-1" text="Assignee/Applicant" class="m-md-2"  v-model="dd">
        <b-dropdown-item>Text</b-dropdown-item>
        <b-dropdown-item>Name</b-dropdown-item>
        <b-dropdown-item>Number</b-dropdown-item>
        <b-dropdown-divider></b-dropdown-divider>
        <!-- <b-dropdown-item active>Active action</b-dropdown-item>
        <b-dropdown-item disabled>Disabled action</b-dropdown-item> -->
        <b-dropdown-item>Other option 1</b-dropdown-item>
        <b-dropdown-item>Other option 2</b-dropdown-item>
        <b-dropdown-item>Other option 3</b-dropdown-item>
        </b-dropdown>
        <br>
        <b-form-select v-model="selected" :options="options"></b-form-select>
        <br>
        <div>
            <b-form-input v-model="text">{{ dd }}</b-form-input>
            <br><!-- <div class="mt-2">Value: {{ text }}</div> -->
        </div>
        <b-form-textarea id="textarea-rows" rows="8" v-model="text">{{ text }}</b-form-textarea>
    </div>
</template>

<script>
export default {
    name:"dropdown",
    data(){
        return {
            dd:"",
            text:"",
            selected:""
        }
    }
}
</script>