<template>
    <div>
        <div class="col-12 form-group">
            <input type="text" v-model="fname" class="col-form-label col-form-label-lg" required >
            <!-- <div v-if ="fname.length<2" class="invalidfeed" style="color:red">This field is required.</div> -->
            {{fname}}
            <div v-if="!this.fname.match(this.name_val)" style="color:red">Enter valid info</div>
        </div>
    </div>
</template>

<script>
export default {
    name:"Input",
    data(){
        return {
            fname:"",
            name_val:/^[A-Za-z]+$/
        }
    }
}
</script>