<template>
    <form id="SignupForm" @submit.prevent = "processForm">
        <div class="row">
            <!-- <label class="col-form-label col-form-label-lg" >First Name<span class="text-danger"></span></label>
            <Input/>
            <label class="col-form-label col-form-label-lg" >Last Name<span class="text-danger"></span></label>
            <Input/>
            <Email/>
            <Phone/>
            <Button/> -->
            <dropdown/>
        </div>
    </form>

</template>


<script>
// import Input from './Input.vue'
// import Email from './Email.vue'
// import Phone from './Phone.vue'
// import Button from './Button.vue'
import dropdown from './dropdown.vue'

export default {
    name : "SignupForm",
    components: {
    // Input,
    // Email,
    // Phone,
    // Button,
    dropdown
  },
    data: function(){
        return {
        };
    },
    methods: {
    processForm: function() {
      console.log({ first_name: this.Fname, last_name: this.Lname, email: this.Email, phone:this.Contact });
      alert('Processing!');
    }
  }
}
</script>
<style>
.btn-vue{
    background: #538985;
    color: #314850;
    font-weight: bold;
}
</style>